.header {
    background-color: #557C56; /* Align with button color from form */
    color: #57467B; /* Text color */
    padding: 10px 10px; /* Padding */
    position: relative;
    max-width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in width */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.header-title {
    margin: 0; /* Remove default margin */
    color: #33372C; /* Ensures title color is readable on header background */
}

.login-button {
    background-color: #fff; /* Button background color */
    color: #007bff; /* Button text color aligns with header background */
    padding: 10px 20px; /* Button padding */
    border: none;
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    display: inline-block;
    margin: 0 10px; /* Adjust margin to fit design */
}

.logout-button {
    background-color: orangered; /* Button background color */
    color: white; /* Button text color aligns with header background */
    padding: 10px 20px; /* Button padding */
    border: none;
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    display: inline-block;
    margin: 0 10px; /* Adjust margin to fit design */
}

.login-button:hover {
    background-color: #f1f1f1; /* Button hover background color */
}

.logout-button:hover {
    background-color: #f1f1f1; /* Button hover background color */
    color: red;
}

.logged-in-container {
    display: flex;
    align-items: center; /* Vertically center the items */
    margin: 0;
}

.logged-in-container p {
    margin-right: 10px; /* Add some spacing between the p tag and the button */
    color: #33372C;
}
