@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
    overflow: auto;
}

body {
    background-color: #8B0000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
